.side-navbar-wrapper {
  background: linear-gradient(
    185.06deg,
    #28003e 6.3%,
    #370055 59.47%,
    #400062 79.09%,
    #52007d 92%,
    #6b00a4 107.31%
  );
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  color: white;
  z-index: 1;
}

.side-navbar-icon {
  width: 20px;
  height: 20px;
}

.side-navbar-top {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.side-navbar-top img {
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.side-navbar-links {
  flex-grow: 1;
}

.side-navbar-links li {
  margin: 10px 0;
}

.side-navbar-links a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: opacity 0.3s ease;
}

.side-navbar-links li {
  position: relative;
  list-style-type: none;
}

.side-navbar-links li.active a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 30px;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
}

.side-navbar-links a:hover,
.side-navbar-links li.active a {
  opacity: 1;
}

.side-navbar-links a img,
.side-navbar-actions a img {
  margin-right: 10px;
}

.side-navbar-bottom {
  padding: 20px 0;
  align-items: end;
}

.side-navbar-actions {
  display: flex;
  flex-direction: column;
}

.side-navbar-actions a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: opacity 0.3s ease;
}

@media (max-width: 1024px) {
  .side-navbar-top img {
    width: 50px;
    height: 28px;
    font-size: 18px;
  }

  .side-navbar-links a,
  .side-navbar-actions a {
    padding: 8px 16px;
  }

  .side-navbar-icon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 768px) {
  .side-navbar-wrapper {
    width: 180px;
  }
  .side-navbar-top img {
    width: 45px;
    height: 26px;
    font-size: 16px;
  }

  .side-navbar-links a,
  .side-navbar-actions a {
    padding: 6px 14px;
    font-size: 13px;
  }

  .side-navbar-icon {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 640px) {
  .side-navbar-wrapper {
    width: 12.5rem;
  }
}

@media (max-width: 430px) {
  .side-navbar-wrapper {
    width: 12.5rem;
  }
}
