.button {
  font-family: "Raleway", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .button-icon {
    width: 25px;
    height: 25px;
  }
}
