.dashboard-header {
  background-color: white;
  overflow-x: hidden;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 28px;
}

.welcome-section h1 {
  margin: 0;
  font-size: 24px;
}

.welcome-section p {
  color: #666;
  font-size: 14px;
  margin-left: 5px;
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 15px;
}

.calendar-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.calendar-icon p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.notification {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.profile-icon,
.mobile-profile-icon {
  cursor: pointer;
}

.profile-icon img,
.mobile-profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-view {
  padding: 10px 15px;
}

.notification-badge {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.orange {
  background-color: orange;
  bottom: 8px;
  right: 1px;
}

.green {
  background-color: green;
  bottom: 6px;
  right: 1px;
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.profile-icon {
  position: relative;
  display: inline-block;
}

/* Tablet */
@media (max-width: 1024px) {
  .header-top {
    padding: 10px 15px;
  }

  .welcome-section h1 {
    font-size: 22px;
  }

  .welcome-section p {
    margin-top: 10px;
    font-size: 13px;
  }

  .calendar-icon p {
    font-size: 13px;
  }
}

/* Small tablets & large phones */
@media (max-width: 768px) {
  .dashboard-header {
    margin-left: 0;
  }

  .header-top {
    padding: 8px 10px;
  }

  .welcome-section h1 {
    font-size: 20px;
  }

  .welcome-section p {
    font-size: 12px;
  }

  .header-actions {
    gap: 10px;
  }

  .calendar-icon p {
    display: none;
  }

  .profile-icon img,
  .mobile-profile-icon img {
    width: 35px;
    height: 35px;
  }
}

/* Phones */
@media (max-width: 430px) {
  .dashboard-header {
    padding: 5px 10px;
    padding-right: 35px;
  }

  .header-top {
    padding: 5px;
  }

  .welcome-section h1 {
    font-size: 18px;
  }

  .welcome-section p {
    margin-top: 5px;
    font-size: 11px;
  }

  .header-actions {
    margin-top: 10px;
    gap: 8px;
  }

  .notification {
    width: 20px;
    height: 20px;
  }

  .mobile-profile-icon img {
    width: 30px;
    height: 30px;
  }
}
