.setup-container {
  display: flex;
  position: relative;
  align-items: center;
  background: #33024e;
  border-radius: 10px;
  padding: 48px 37px;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  height: 237px;
  width: 1130px;
  z-index: 3;
  transform: translateY(35%);
}

.setup-content .usage-title {
  font-weight: 500;
}

.setup-content .usage-title,
.setup-content .usage-text {
    color: white;
  }

  .setup-content .usage-info .usage-title {
    line-height: 44px;
  }

  .button.secondary.gray {
    color: gray !important;
    border: 1px solid gray !important;
    transition: transform 0.5s !important;
  }

.button-group .secondary.gray:hover {
  transform: scale(1.05) !important;
}

  @media (max-width: 1024px) {
    .setup-container {
      width: 950px;
  }
  }
 
@media (max-width: 768px) {
  .setup-container {
    width: 90%;
    height: auto;
    padding: 35px 25px;
    flex-direction: column;
    gap: 15px;
    transform: translateY(25%);
  }
  
  .setup-content .usage-title {
    font-size: 24px;
    line-height: 34px;
  }
  
  .setup-content .usage-text {
    font-size: 15px;
    line-height: 22px;
  }
  
  .button.primary,
  .button.secondary.gray {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .setup-container {
    width: 90%;
    padding: 30px 20px;
    gap: 14px;
    transform: translateY(22%);
    height: 300px;
  }

  .setup-container .usage-info {
    gap: 15px;
  }
  
  .setup-content .usage-title {
    font-size: 23px;
    line-height: 32px;
  }
  
  .setup-content .usage-text {
    font-size: 14px;
    line-height: 20px;
    width: 299px;
  }

  .setup-content .usage-info {
    width: 299px;
  }

  .button.primary,
  .button.secondary.gray {
    padding: 9px 18px;
    font-size: 14px;
    width: 100%; 
    display: block;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 12px; */
  }
}

@media (max-width: 375px) {
  .setup-container {
    width: 90%;
    padding: 25px 20px;
    gap: 12px;
    transform: translateY(20%);
  }
  
  .setup-content .usage-title {
    font-size: 20px;
    line-height: 33px;
  }
  
  .setup-content .usage-text {
    font-size: 12px;
    line-height: 20px;
  }

  .button.primary,
  .button.secondary.gray {
    padding: 8px 18px;
    font-size: 13px;
    width: 100%; 
    display: block;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 12px; */
  }
}

@media (max-width: 320px) {
  .setup-container {
    width: 95%;
    padding: 20px 15px;
    gap: 10px;
    transform: translateY(15%);
  }
  
  .setup-content .usage-title {
    font-size: 20px;
    line-height: 26px;
  }
  
  .setup-content .usage-text {
    font-size: 13px;
    line-height: 18px;
  }
  
  .button.secondary.gray {
    padding: 8px 10px;
    font-size: 12px;
  }
}