/* General Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: relative;
}

.navbar-logo {
    width: 85px;
    height: auto;
}

/* Navbar Links */
.navbar a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    color: #7910B1;
}

/* Desktop Navigation */
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-grow: 0.4;
}

.nav-menu-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

/* Register Button */
.nav-register {
    background: #7910B1;
    padding: 10px 15px;
    border-radius: 4px;
    transition: transform 0.5s;
}

.nav-register:hover {
    transform: scale(1.05);
}

.nav-register a {
    color: #ffffff;
}

/* Hamburger Menu (Hidden on Desktop) */
.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: #7910B1;
    background: none;
    border: none;
}

/* Responsive Styling */
@media (max-width: 425px) {
    .navbar {
        padding: 20px;
    }
    
    /* Show hamburger menu */
    .menu-toggle {
        display: block;
        z-index: 1001;
    }
    
    /* Hide nav links by default */
    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background: white;
        width: 60%;
        height: 50vh;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
    }
    
    /* When menu is active */
    .nav-links.active {
        display: flex;
    }
    
    .nav-menu-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    
    .nav-register {
        margin-top: 20px;
        align-self: flex-start;
    }
}

@media (max-width: 375px) {
    .navbar-logo {
        width: 65px;
    }
}