.footer {
  background-color: #7910b1;
  color: white;
  padding: 60px 20px 20px;
  font-family: "Raleway", serif;
  position: relative;
  width: 100%;
}

.footer::after {
  content: "";
  position: absolute;
  right: calc((100% - 1200px) / 4);
  top: 40px;
  height: 90%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 auto;
  padding-top: 40px;
}

.footer-section {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 10px;
}

.footer-section h3 {
  color: #9ca3af;
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 600;
  font-style: italic;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 29px;
}

.footer-section li a {
  color: #f3f4f6;
}

.footer-bottom {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom-center {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 14px;
  text-align: center;
  color: #f3f4f6;
}

.social-icons span .whatsapp {
  background: #008000;
  color: #fff;
  border-radius: 50%;
}

.social-icons span .instagram {
  background: #e91e63;
  color: #fff;
  border-radius: 50%;
}
.social-icons span .twitter {
  background: #000;
  color: #fff;
  border-radius: 50%;
}

.footer-icon img {
  font-size: 10px;
}

.copyright {
  max-width: 1200px;
  margin: 20px auto 0;
  text-align: center;
  font-size: 14px;
  color: #9ca3af;
  padding: 60px 0 0 0;
  line-height: 22px;
}

@media (max-width: 1024px) {
  .social-icons {
    display: flex;
    gap: 10px;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }

  .footer-bottom-center {
    gap: 15px;
  }

  .social-icons {
    margin-right: 0;
  }

  .footer-section {
    padding-left: 5px;
  }

  .footer {
    padding: 40px 15px 15px;
  }

  .copyright {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 425px) {
  .footer-content {
    gap: 25px;
  }

  .footer-section {
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 15px;
    padding-left: 0;
  }

  .footer-section:last-child {
    border-bottom: none;
  }

  .footer-bottom-center {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
  }

  .social-icons span img {
    width: 25px;
    height: 25px;
  }

  .social-icons {
    justify-content: center;
    font-size: 15px;
  }

  .social-icons span {
    font-size: 10px;
  }

  .footer {
    padding: 30px 15px 15px;
  }

  .copyright {
    padding: 30px 0 0 0;
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .footer-content {
    gap: 25px;
  }

  .footer-section h3 {
    font-size: 16px;
  }

  .footer-section ul li {
    font-size: 12px;
    line-height: 24px;
  }

  .social-icons span img {
    width: 15px;
    height: 15px;
  }

  .social-icons {
    justify-content: center;
    font-size: 15px;
  }

  .social-icons span {
    font-size: 12px;
  }

  .logo {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 25px 10px 10px;
  }

  .footer-section h3 {
    font-size: 15px;
  }

  .footer-section ul li {
    margin-bottom: 8px;
    line-height: 20px;
  }

  .footer-bottom-center {
    padding-right: 30px;
  }

  .social-icons {
    gap: 8px;
  }

  .social-icons span img {
    width: 15px;
    height: 15px;
  }

  .social-icons span {
    font-size: 10px;
  }

  .copyright {
    font-size: 11px;
    padding: 25px 0 0 0;
  }
}
